
```

```

#**A.Manipulasi Data Dengan SQL Apache Spark SELECT Statment**

##**1. Getting Started with PySpark in Google Colab**

*PySpark* adalah *interface Python* untuk *Apache Spark*. Penggunaan utama *PySpark* adalah untuk bekerja dengan data dalam Bigdata dan untuk membuat pipeline data.

Walaupun *Apache Spark* mendudukung Big Data, sebagai awal pembelajaran tidak perlu menggunakan data yang besar untuk mendapatkan manfaat dari PySpark. Kita bisa temukan bahwa SparkSQL adalah tools yang bagus untuk melakukan analisis data. Penggunaan library Panda menjadi lambat dengan data yang besar

Sumber tentang Apache Spark http://spark.apache.org/docs/latest/api/python/

In [ ]:
#Init Hadoop & Spark
#=====Begin

#=====End

Lakukan manipulasi data dari dataset pada tautan berikut:

"https://github.com/rahmadsa/dataset/blob/main/ms_produk.csv?raw=true"

Dengan perintah - perintah SQL berikut pada platform Apache Spark SQL

# [Mengambil Seluruh Kolom dalam suatu Tabel](https://#)


```
   select * from ms_produk;
```

# [Mengambil Satu Kolom dari Tabel](https://academy.dqlab.id/main/livecode/213/385/1899?pr=0)

In [ ]:
select nama_produk from ms_produk;

# [Mengambil Lebih dari Satu Kolom dari Tabel](http://#)
```
   SELECT nama_produk, harga FROM ms_produk;
```

In [ ]:
SELECT nama_produk, harga FROM ms_produk;

# [Membatasi Pengambilan Jumlah Row Data](https://#)

In [ ]:
SELECT nama_produk, harga FROM ms_produk LIMIT 5;

# [Penggunaan SELECT DISTINCT statement](https://#)

In [ ]:
SELECT DISTINCT nama_customer, alamat FROM ms_pelanggan;

# [Menggunakan Prefix pada Nama Kolom](https://#)

In [ ]:
SELECT ms_produk.kode_produk FROM ms_Produk;

# [Menggunakan Alias pada Kolom](https://academy.dqlab.id/main/livecode/213/386/1909?pr=0)

In [ ]:
SELECT no_urut AS nomor, nama_produk AS nama FROM ms_produk;

# [Menghilangkan Keyword 'AS'](https://#)

In [ ]:
SELECT no_urut nomor, nama_produk nama FROM ms_produk;

# [Menggabungkan Prefix dan Alias](https://#)

In [ ]:
SELECT ms_produk.harga AS harga_jual FROM ms_produk;

# [Menggunakan Alias pada Tabel](https://#)

In [ ]:
SELECT * FROM ms_produk t2;

# [Prefix dengan Alias Tabel](https://#)

In [ ]:
SELECT t2.nama_produk, t2.harga FROM ms_produk t2

# [Menggunakan WHERE](https://#)

In [ ]:
SELECT * FROM ms_produk WHERE nama_produk='Tas Travel Organizer';

# [Menggunakan Operand OR](https://#)
---


---

In [ ]:
SELECT * FROM ms_produk WHERE nama_produk='Gantungan Kunci' OR nama_produk='Tas Travel Organizer'OR nama_produk='Flashdisk 64 GB' ;

# [Filter untuk Angka](https://#)

In [ ]:
SELECT * FROM ms_produk WHERE harga>50000;

# [Menggunakan Operand AND](https://#)

In [ ]:
SELECT * FROM ms_produk WHERE nama_produk='Gantungan Kunci' AND harga<50000;

# [Proyek dari Cabang A](https://#)

In [ ]:
SELECT kode_pelanggan, nama_produk, qty, harga, qty*harga AS total FROM tr_penjualan WHERE qty*harga>=100000 ORDER BY total DESC;